<style>
  .responsive-inline-frame {
    max-width: 800px; /* 800x450 (16x9 aspect ratio) */
    margin: auto;
  }

  .responsive-inline-frame-inner {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: 0;
  }

  .responsive-inline-frame-inner iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
<image-gallery data-id="{{ block.id }}">
  {%- if block.settings.heading -%}
  <h2>{{ block.settings.heading }}</h2>
  {%- endif -%}

  {%- if block.settings.description -%}
  <p>{{ block.settings.description }}</p>
  {%- endif -%}

  {%- if block.settings.googleurl -%}

  <div class="responsive-inline-frame">
    <div class="responsive-inline-frame-inner">
      <iframe src={{ block.settings.googleurl }} width={{ block.settings.width }} height={{ block.settings.height }} frameborder="0" style="border:0"></iframe>
    </div>
  </div>
  {%- endif -%}
  <image-popup init>
    <template image-popup>
      <button close-button class="close-button">
        {%- render 'icon-close' -%}
      </button>
    </template>
  </image-popup>

</image-gallery>

{% schema %}
{
  "name": "Bloco de exibição",
  "target": "section",
  "stylesheet": "image-gallery.css",
  "javascript": "image-gallery.js",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "label": "Título",
    "default": "titulo teste"
  },
  {
    "type": "text",
    "id": "googleurl",
    "label": "Url do serviço"
  },
  {
    "type": "text",
    "id": "width",
    "label": "Largura",
    "default": "600"
  },
  {
    "type": "text",
    "id": "height",
    "label": "Altura",
    "default": "450"
  }
  ]
}
{% endschema %}
